/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import "tailwindcss/base";

/**
 * Here we add custom base styles, applied after the tailwind-base
 * classes
 *
 */

@font-face {
  font-family: "Arial Rounded";
  font-weight: bold;
  src: url("../../../public/fonts/Arial-Rounded-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial Rounded";
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio !important {
  height: auto;
  padding-bottom: 0px;
}
